h2 {
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  background-image: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 15px,
    #465298 15px,
    #465298 30px
  );
}

.genres {
  display: flex;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 22px;
  font-weight: 700;
}

.active-link {
  composes: link;
  color: #2196f3;
}

nav {
  display: flex;
}

.genre-item {
  margin-right: 20px;
  background-color: #2196f3;
  color: white;
  border-radius: 5px;
}
